button {
  background-color: rgb(126, 19, 19);
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
  font-family: supura;
  text-align: center;
  display: flex;
  margin-left: 100px;
  color: white;

}

button:hover {
  background-color: lightpink;
}

.card_info {
  text-align: center;
}

.heading_style {
  text-align: center;
  color: #A4A4C0;

}


body {
  background-color: rgb(202, 219, 218);
}